@media (max-width: 768px){
  .container{
      width: 600px;
  }
    .col-4{
        width: 50%;
        margin-bottom: 20px;
    }
}
@media(max-width: 450px){
    .container{
        width: 340px;
    }
    .col-4{
        width: 100%;
    }

}